<footer class="bg-gray-900 text-white py-8 border-t border-gray-700">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row justify-between items-center md:items-start">
      
      <!-- Left side -->
      <div class="flex items-center space-x-4 mb-6 md:mb-0">
        <img 
          src="assets/images/daniel_fabbri.png" 
          alt="Daniel Fabbri" 
          class="w-16 h-16 rounded-full shadow-lg border border-white"
        />
        <div>
          <h2 class="text-lg font-semibold">Daniel Fabbri</h2>
          <p class="text-sm text-gray-400">Turning technology into real impact</p>
        </div>
      </div>

      <!-- Right side -->
      <div class="flex flex-col space-y-3 text-center md:text-left">
        <a href="https://wa.me/5521980474532" target="_blank" class="flex items-center space-x-2 hover:text-whihte-400 transition-colors">
          <img src="https://cdn.jsdelivr.net/npm/simple-icons@v9/icons/whatsapp.svg" 
            alt="WhatsApp" 
            class="w-5 h-5 invert" />
          <span>WhatsApp</span>
        </a>

        <a href="mailto:daniel.m.fabbri@gmail.com" class="flex items-center space-x-2 hover:text-whihte-400 transition-colors">
          <i class="devicon-google-plain text-xl text-white hover:text-whihte-400"></i>
          <span>daniel.m.fabbri@gmail.com</span>
        </a>

        <a href="https://www.linkedin.com/in/daniel-fabbri-019121ba/" target="_blank" class="flex items-center space-x-2 hover:text-whihte-500 transition-colors">
          <i class="devicon-linkedin-plain text-xl text-white"></i>
          <span>LinkedIn</span>
        </a>
      </div>
    </div>

    <!-- Bottom -->
    <div class="mt-6 text-center text-xs text-gray-500">
      © 2025 All rights reserved.
    </div>
  </div>
</footer>
